@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(80deg, #101010, #040404);
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

.menu-white {
  background-color: #040404;
  box-shadow: 10px 0px 13px #389DE0;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.menu h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #389DE0;
  font-size: 42px;
  margin-bottom: 20px;
}
.menu h2 {
  color: #E1DFE3;
  background-color: #040404;
  margin-bottom: 20px;
  font-size: 25px;
  text-align: center;
  position: relative;
  overflow-x: hidden;
}
.menu h2::after {
  color: #E1DFE3;
  background-color: #040404;
  position: absolute;
  content: "";
  left: 0;
  height: 100%;
  width: 100%;
  border-left: 3px solid #389DE0;
  animation: front 5s steps(10) infinite;
  overflow-x: hidden;
}
.menu ul {
  margin: 30px 0px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
}
.menu .nav-a {
  text-decoration: none;
  color: #E1DFE3;
  font-weight: 600;
  position: relative;
  padding: 10px;
}
.menu .nav-a::after {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #389DE0;
  transition: all 300ms ease-in-out;
}
.menu .nav-a:hover::after {
  width: 100%;
}
.menu .foto {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60% 40% 40% 60%/60% 40% 40% 60%;
  overflow: hidden;
  animation: blob 4s infinite ease-in-out;
}
.menu .foto img {
  width: 300px;
  height: 300px;
}

@keyframes blob {
  0% {
    border-radius: 60% 40% 30% 60%/60% 40% 60% 40%;
  }
  35% {
    border-radius: 80% 70% 90% 50%/90% 70% 90% 60%;
  }
  75% {
    border-radius: 90% 90% 80% 70%/80% 90% 60% 90%;
  }
  100% {
    border-radius: 60% 40% 30% 60%/60% 40% 60% 40%;
  }
}
@keyframes front {
  40%, 60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}
.conteudo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.conteudo h1 {
  color: #389DE0;
  margin-bottom: 20px;
  font-size: 32px;
  text-align: center;
}
.conteudo p {
  color: #E1DFE3;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  padding: 20px;
}
.conteudo .loader {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  --color: $color-four;
  --animation: 2s ease-in-out infinite;
}
.conteudo .loader .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 20px;
  height: 20px;
  border: solid 2px #E1DFE3;
  border-radius: 50%;
  margin: 0 10px;
  background-color: transparent;
  animation: circle-keys var(--animation);
}
.conteudo .loader .circle .dot {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #389DE0;
  animation: dot-keys var(--animation);
}
.conteudo .loader .circle .outline {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: outline-keys var(--animation);
}
.conteudo .circle:nth-child(2) {
  animation-delay: 0.3s;
}
.conteudo .circle:nth-child(3) {
  animation-delay: 0.6s;
}
.conteudo .circle:nth-child(4) {
  animation-delay: 0.9s;
}
.conteudo .circle:nth-child(5) {
  animation-delay: 1.2s;
}
.conteudo .circle:nth-child(2) .dot {
  animation-delay: 0.3s;
}
.conteudo .circle:nth-child(3) .dot {
  animation-delay: 0.6s;
}
.conteudo .circle:nth-child(4) .dot {
  animation-delay: 0.9s;
}
.conteudo .circle:nth-child(5) .dot {
  animation-delay: 1.2s;
}
.conteudo .circle:nth-child(1) .outline {
  animation-delay: 0.9s;
}
.conteudo .circle:nth-child(2) .outline {
  animation-delay: 1.2s;
}
.conteudo .circle:nth-child(3) .outline {
  animation-delay: 1.5s;
}
.conteudo .circle:nth-child(4) .outline {
  animation-delay: 1.8s;
}
.conteudo .circle:nth-child(5) .outline {
  animation-delay: 2.1s;
}
@keyframes circle-keys {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes dot-keys {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes outline-keys {
  0% {
    transform: scale(0);
    outline: solid 20px var(--color);
    outline-offset: 0;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    outline: solid 0 transparent;
    outline-offset: 20px;
    opacity: 0;
  }
}

.texto-habilidades {
  color: #f4f4f4;
  margin-top: 17px;
}

.habilidades {
  height: 50vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.habilidades h1 {
  color: #389DE0;
  margin-bottom: 20px;
  font-size: 32px;
  text-align: center;
}
.habilidades div {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.habilidades img {
  width: 12%;
}

.certificados img {
  margin: 0px 20px;
}

.projetos {
  margin: 30px 0px;
}
.projetos button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 2px solid #389DE0;
  border-radius: 10px;
  height: 28px;
  width: 125px;
  background-color: #040404;
  color: #389DE0;
  cursor: not-allowed;
}
.projetos h1 {
  color: #389DE0;
  text-align: center;
  margin-bottom: 60px;
  font-size: 32px;
}
.projetos .fotos-projetos {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 80px;
  grid-row-gap: 30px;
  width: 80%;
  margin: 0 auto;
}
.projetos p {
  line-height: 21px;
  text-align: left;
  font-size: 16px;
  padding: 12px;
}
.projetos img {
  width: 100%;
  border-radius: 10px;
  animation: beat 1.5s infinite alternate;
}

#box-one {
  background-color: black;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
#box-one img:hover {
  transform: scale(1.5);
}

#box-two {
  background-color: #30152D;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
#box-two img:hover {
  transform: scale(1.5);
}

#box-three {
  background-color: white;
  border-radius: 10px;
  color: black;
}

#box-four {
  background-color: #080808;
  border-radius: 10px;
  color: white;
}

#box-five {
  background-color: #ffffff;
  border-radius: 10px;
  color: black;
}

#box-five p {
  padding: 0px;
  margin-left: 10px;
}

#box-six {
  height: 100%;
  background-color: #000000;
  border-radius: 10px;
  color: white;
}
#box-six p {
  padding: 10px;
}

@keyframes beat {
  to {
    transform: scale(1.1);
  }
}
.contato {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 50vh;
}
.contato h1 {
  color: #389DE0;
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
}
.contato a {
  padding-left: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #389DE0;
  text-decoration: none;
  font-size: 16px;
}
.contato a:hover {
  text-decoration: underline;
}
.contato p {
  color: #389DE0;
  padding-left: 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (min-width: 668px) {
  .menu {
    flex-direction: row;
    justify-content: space-around;
  }
  .conteudo p {
    width: 50%;
  }
  .habilidades div {
    width: 100%;
  }
  .habilidades img {
    width: 4%;
    margin-top: 30px;
  }
  .projetos .fotos-projetos {
    grid-template-columns: repeat(2, 1fr);
  }
  .contato .links {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 40px;
  }
  .contato .links a {
    display: flex;
  }
}
@media (min-width: 1024px) {
  .projetos .fotos-projetos {
    grid-template-columns: repeat(3, 1fr);
  }
}
.card {
  background: #1e1e1e;
  color: #dcdcdc;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  font-family: monospace;
}

.card a {
  color: #4fc3f7;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */