*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

section {
    height: 100vh;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        font-size: 42px;
        margin-bottom: 20px;
    }
    h2{
        margin-bottom: 20px;
        font-size: 25px;
        text-align: center;
        position: relative;
        overflow-x: hidden;
        &::after{
          position: absolute;
          content: '';
          left: 0;
          height: 100%;
          width: 100%;
          background-color: white;
          border-left: 3px solid black ;
          animation: front 5s steps(10) infinite;
          overflow-x: hidden;
        }
    }
    ul{
        margin: 30px 0px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 15px;   
    }
    .nav-a{
        text-decoration: none;
        color: black;
        font-weight: 600;
        position: relative;
        padding: 10px;
        &::after{
            content: '';
            position: absolute;
            bottom: 4px;
            left: 0;
            width: 0;
            height: 3px;
            background-color: black;
            transition: all 300ms ease-in-out;
        }
        &:hover::after{  
            width: 100%;
        }
    
    }
    .foto{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            margin-top: 25px;
            width: 300px;
            height: 300px;
            border-radius: 100%;
            box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.404);
        }
    }
}

@keyframes front {
  40%,60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}

.conteudo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h1{
        margin-bottom: 20px;
        font-size: 32px;
        text-align: center;
    }
    p{
        font-size: 18px;
        font-weight: 600;
        line-height: 30px;
        padding: 20px;
    }
    .loader {
        padding-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        --color: hsl(0, 0%, 23%);
        --animation: 2s ease-in-out infinite;
      }
      
      .loader .circle {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 20px;
        height: 20px;
        border: solid 2px var(--color);
        border-radius: 50%;
        margin: 0 10px;
        background-color: transparent;
        animation: circle-keys var(--animation);
      }
      
      .loader .circle .dot {
        position: absolute;
        transform: translate(-50%, -50%);
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: var(--color);
        animation: dot-keys var(--animation);
      }
      
      .loader .circle .outline {
        position: absolute;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        animation: outline-keys var(--animation);
      }
      
      .circle:nth-child(2) {
        animation-delay: 0.3s;
      }
      
      .circle:nth-child(3) {
        animation-delay: 0.6s;
      }
      
      .circle:nth-child(4) {
        animation-delay: 0.9s;
      }
      
      .circle:nth-child(5) {
        animation-delay: 1.2s;
      }
      
      .circle:nth-child(2) .dot {
        animation-delay: 0.3s;
      }
      
      .circle:nth-child(3) .dot {
        animation-delay: 0.6s;
      }
      
      .circle:nth-child(4) .dot {
        animation-delay: 0.9s;
      }
      
      .circle:nth-child(5) .dot {
        animation-delay: 1.2s;
      }
      
      .circle:nth-child(1) .outline {
        animation-delay: 0.9s;
      }
      
      .circle:nth-child(2) .outline {
        animation-delay: 1.2s;
      }
      
      .circle:nth-child(3) .outline {
        animation-delay: 1.5s;
      }
      
      .circle:nth-child(4) .outline {
        animation-delay: 1.8s;
      }
      
      .circle:nth-child(5) .outline {
        animation-delay: 2.1s;
      }
      
      @keyframes circle-keys {
        0% {
          transform: scale(1);
          opacity: 1;
        }
      
        50% {
          transform: scale(1.5);
          opacity: 0.5;
        }
      
        100% {
          transform: scale(1);
          opacity: 1;
        }
      }
      
      @keyframes dot-keys {
        0% {
          transform: scale(1);
        }
      
        50% {
          transform: scale(0);
        }
      
        100% {
          transform: scale(1);
        }
      }
      
      @keyframes outline-keys {
        0% {
          transform: scale(0);
          outline: solid 20px var(--color);
          outline-offset: 0;
          opacity: 1;
        }
      
        100% {
          transform: scale(1);
          outline: solid 0 transparent;
          outline-offset: 20px;
          opacity: 0;
        }
      }
}
.habilidades{
    text-align: center;
    height: 50vh;
    h1{
        margin-bottom: 20px;
        font-size: 32px;
        text-align: center; 
    }
    img{
        width: 85px;
        padding: 20px;
    }
}
.projetos {
  height: 120vh;
  button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 10px;
    height: 28px;
    width: 125px;
    background-color: white;
    color: black;
    cursor: not-allowed;
  }
  h1{
    text-align: center;
    margin-bottom: 60px;
    font-size: 32px;
  }
  .fotos-projetos{
    display: flex;
    flex-direction: column;
    gap: 60px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
  }
  p{
    text-align: left;
    font-size: 16px;
    padding: 12px;
  }
  img{
    border-radius: 10px 10px 0px 0px  ;
    width: 100%;
  }
}
#box-one{
  background-color: black;
  border-radius: 10px;
  color: white;
}
#box-two{
  background-color: #30152D;
  border-radius: 10px;
  color: white;
}
#box-three{
  background-color: white;
  border-radius: 10px;
  color: black;
}

.contato{
  height: 50vh;
  h1{
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
  }
  a{
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
    text-decoration: none;
    font-size: 16px;
    &:hover{
      text-decoration: underline;
    }
  }
  p{
    padding-left: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
